<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<appSettings>
		<add key="SecureServerAddress" value="SERVER_HOST"/> <!-- WAN (Public) / LAN (Private) IP or Hostname -->
		<add key="LogLimit" value="true"/> <!-- Shortens the GUI log to maintain server stability -->
		<add key="Autostart" value="true"/> <!-- Automatically starts the servers when the application launches -->
	</appSettings>
</configuration>
